<form method="post" action="/pirates">
  <h2> Pirate </h2>
  <p>Name:<input type="text" name="pirate[name]"></p>
  <p>Weight:<input type="text" name="pirate[weight]"></p>
  <p>Height:<input type="text" name="pirate[height]"></p>
  <h2> Ships </h2>
  Ship Name:<input id= "ship_name_1"type="text" name="pirate[ships][][name]"></p>
  Ship Type:<input id= "ship_type_1"type="text" name="pirate[ships][][type]"></p>
  Ship Booty:<input id= "ship_booty_1"type="text" name="pirate[ships][][booty]"></p>
  Ship2 Name:<input id= "ship_name_2"type="text" name="pirate[ships][][name]"></p>
  Ship2 Type:<input id= "ship_type_2"type="text" name="pirate[ships][][type]"></p>
  Ship2 Booty:<input id= "ship_booty_2"type="text" name="pirate[ships][][booty]"></p>
  <input value="Submit" type="submit">
</form>
